body {
  font-size: .875rem;
}

img {
  max-width: 70%;
  max-height: 70%;
}

.row {
  margin-top: 1px;
  
}

/*
 * Navbar - COVID-19 Dashboard
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: rgb(168, 57, 57);
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.btn-group button {
    border-radius: 4px;
    background-color:white;
    color: back;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    transition-delay: all 1s;
}
.btn-group button:hover {background-color: rgb(170, 165, 165)}

/* @media (max-width: 768px) {
  .Data Button  {
    padding:8px 16px;
    font-size:95%;
    line-height: 2;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .Data Button {
    padding:8px 16px;
    font-size:90%;
    line-height: 1.2;
  }
} */